/bootstrap/compiled.php
/vendor
composer.phar
composer.lock
.env.*.php
.env.php
.DS_Store
Thumbs.db
robots.txt
phpunit.xml
favicon.ico
.htaccess
contributing.md
error.html
readme.md
server.php
cache/
artisan
.idea/
.gitignore
gitattributes
uploads/
app/storage/
.gitattributes