/* --- EASYDROPDOWN DEFAULT THEME --- */

/* PREFIXED CSS */

.select-dropdown,
.select-dropdown div,
.select-dropdown li,
.select-dropdown div::after{
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.select-dropdown .selected::after,
.select-dropdown.scrollable div::after{
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

/* WRAPPER */

.select-dropdown{
    position: relative;
    width: 100px;
    cursor: pointer;
    background: none;
    padding: 0;
    display: inline-block;
}

.select-dropdown.open{
    z-index: 2;
    background: white;
}

.select-dropdown:hover{

}

.select-dropdown.focus{

}
/* OLD SELECT (HIDDEN) */

.select-dropdown .old{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
    background: none;
}

.select-dropdown select{
    position: absolute;
    left: 0px;
    top: 0px;
}

.select-dropdown.touch .old{
    width: 100%;
    height: 100%;
}

.select-dropdown.touch select{
    width: 100%;
    height: 100%;
    opacity: 0;
}

/* SELECTED FEEDBACK ITEM */
.select-dropdown ul{
    list-style: none;

}
.select-dropdown .selected,
.select-dropdown li{
    display: block;
    font-size: 13px;
    line-height: 1;
    float: left;
    width: 100%;
    color: #000;
    padding: 5px 5px;
    overflow: hidden;
    white-space: nowrap;
}

.select-dropdown.disabled .selected{
    color: #999;
}

.select-dropdown .selected::after{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;

    border-radius: 0 2px 2px 0;

}

/* DROP DOWN WRAPPER */

.select-dropdown div{
    position: absolute;
    height: 0;
    left: -1px;
    right: -1px;
    top: 100%;
    margin-top: -1px;
    background: #fff;
    border: 1px solid #ccc;
    border-top: 1px solid #eee;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    opacity: 0;

}

/* Height is adjusted by JS on open */

.select-dropdown.open div{
    opacity: 1;
    z-index: 2;
}

/* FADE OVERLAY FOR SCROLLING LISTS */

.select-dropdown.scrollable div::after{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.select-dropdown.scrollable.bottom div::after{
    opacity: 0;
}

/* DROP DOWN LIST */

.select-dropdown ul{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
    padding:0 5px;
}

.select-dropdown.scrollable.open ul{
    overflow-y: auto;
}

/* DROP DOWN LIST ITEMS */

.select-dropdown li{
    list-style: none;
    padding: 8px 52px !important;
    line-height: 2;
}

/* .focus class is also added on hover */

.select-dropdown li.focus{
    position: relative;
    z-index: 3;
    color: #808080;
}

.select-dropdown li.active{
    font-weight: 700;
}